<div class="board">
  <h2>Hello</h2>
  <%= for row <- Board.rows(@board) do %>
    <%= for cell <- row do %>
      <%= form_tag("/move", method: :post) %>
      <input class="hidden" type="hidden" name="move" value=<%= cell %>>
      <button class="cell" type="submit"><div class="empty"><%= cell %></div></button>
      </form>
    <% end %>
  <% end %>
</div>
